@model MVC.Models.Comentario.ComentarioViewModel

@{
    ViewData["Title"] = "AgregarComentario";
}

<h1>Agregar Comentario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarComentario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnvioId" class="control-label"></label>
                <input asp-for="EnvioId" value="@ViewBag.EnvioId" class="form-control" readonly/>
                <span asp-validation-for="EnvioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoComentario" class="control-label"></label>
                <input asp-for="TextoComentario" class="form-control" />
                <span asp-validation-for="TextoComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar Comentario" class="btn btn-primary" />
            </div>
            <p>@ViewBag.msg</p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
